body {
  background-color: #1D1B1E;
  overflow: hidden;
  font: 12px 'Syncopate's, sans-serif;
  color: #333333;
  opacity: ease-in 0.2s;
}

.container-fluid {
  padding: 5% 5% 5% 5%;
  .synth-panel {
    min-height: 33vh;
    // margin: 1px 1px 1px 1px;
    select{
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .analyser{
    padding-left: 0;
    padding-right: 0;
  }
}

input[type=range][orient=vertical]{
  -webkit-appearance: slider-vertical;
  height: 20%;
}
