$base-grey: #e1eef6;
$low-orange: #ff5f2e;
$mid-yellow: #fcbe32;
$high-blue: #004e66;

// Input elements
body {
  background-color: $base-grey;
  overflow: hidden;
  font: 12px 'Syncopate', sans-serif;
  color: $high-blue;
  opacity: ease-in 0.2s;
}

h3 {
  font-size: 18px;
  margin-top: 5px;
}

input[type=range][orient=vertical]{
  -webkit-appearance: slider-vertical;
  height: 35%;
  width: 10%;
  margin-left: 50%;
}

// HTML elements
.container-fluid{
  width: 80%;
  .top-row{
    .dropdown-osc{
      margin-bottom: 5px;
      width: 50%;
    }
    .osc-input{
      margin-left: 0px;
      input {
        margin-left: 15px;
      }
      &:nth-child(2){
        margin-left: 15px;
      }
    }
    .octave-switch {
      margin-left: 30px;
      .btn {
        margin: 3px 0px 3px 0px;
        &:last-of-type{
          margin-bottom: 13px;
        }
        label{
          margin-bottom: 0.5%;
          cursor: pointer;
        }
      }
      // Js triggered class
      .active {
        background-color: $mid-yellow;
      }
      .inactive {
        background-color: $low-orange;
      }
    }
  }
}
