$background: #F68657;
$base-grey: #e1eef6;
$low-orange: #ff5f2e;
$mid-yellow: #fcbe32;
$high-blue: #004e66;

// Input elements
body {
  overflow: hidden;
  font: 12px 'Syncopate', sans-serif;
  color: $high-blue;
  opacity: ease-in 0.2s;
}

h3 {
  font-size: 18px;
  margin-top: 2%;
}

input[type=range][orient=vertical]{
  -webkit-appearance: slider-vertical;
  height: 22%;
  width: 10%;
  margin-left: 50%;
}
.vertial-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

// HTML elements
.jumbotron {
  background-color: $background;
}
.container-fluid{
  width: 80%;
  padding: 0 2% 2% 2%;
  background-color: $base-grey;
  .top-row{
    .dropdown-osc{
      margin-bottom: 5px;
      width: 50%;
    }
    .osc-input{
      margin-left: 0px;
      input {
        margin-left: 15px;
      }
      &:nth-child(2){
        margin-left: 15px;
      }
    }
    .octave-switch {
      margin-left: 10px;
      .btn {
        margin: 3px 0px 3px 0px;
        &:last-of-type{
          margin-bottom: 13px;
        }
        label{
          margin-bottom: 0.5%;
          cursor: pointer;
        }
      }
      // Js triggered class
      .active {
        background-color: $mid-yellow;
      }
      .inactive {
        background-color: $low-orange;
      }
    }
    .filter{
      input {
        height: 25%;
      }
    }
  }
  .bottom-row{
    #delay{
      height: 30%;
    }
    #distortion{
      height: 30%;
    }
    .mixer{
      margin-top: 3%;
      input{
        margin-left: 25px;
        height: 25%;
      }
    }
    .description{
      padding-top: 5%;
      .github{
        display:block;
        width: 20%;
        height: 10%;
        background-image: url('/src/github.svg');
        background-image: url('/src/github.svg');
        background-repeat: no-repeat;
        background-size: contain;
        max-width:100%;
        max-height:100%;
        top: 0;
        left: 0;
      }
    }
  }
  .svg-background{
    background-color: #566270;
    border-radius: 2px;
  }
  .keyboard{
    padding-top: 2%;
  }
}
